rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /storeData/{storeId} {
      allow read, write: if true;
    }
    match /storeData/{storeId}/{allSubpaths=**} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
